.popup {
    background-color: #E5E9F1;
    display: flex;
    justify-content: center;
}
.popup img {
    height: 67px;
}
.top-bar {
    border: 1px solid orange;
    background-color: #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    padding-left: 250px; padding-right: 250px;
    position: fixed;
    left: 0; right: 0;
}
.logo-menu {
    display: flex; gap: 80px;
    align-items: center;
}
.logo-box img {
    height: 30px;
}
.menu01 {
    height: 100%;
}
.menu01-ul {
    display: flex;
    gap: 42px;
    align-items: center;
}
.m01-item a {
    display: flex; gap: 6px;
    align-items: center;
    font-size: 16px;
    padding-top: 10px; padding-bottom: 10px;
}
.m01-arrow-icon {
    width: 20px;
    transform: translateY(1px);
}
.m01-arrow-icon:hover {
    transform: translateY(1px) rotate(180deg); 
}
.m01-item01 { 
    border: 1px solid red;
    position: relative;
}
.m01-item03 {
    border: 1px solid red;
    position: relative;
}
.m01-item01:hover > a {font-weight: 700;}
.m01-item03:hover > a{font-weight: 700;}
.m01-item04 > a {font-weight: 500;}
.m01-item04:hover > a {font-weight: 700;}
.product-menu-ul {
    border: 1px solid green;
    position: absolute;
    left: 0; top: 100%; 
    display: flex;
    flex-direction: column;
    height: 0; width: 320px;
    overflow: hidden;
}
.m01-item01:hover > .product-menu-ul {
    height: 150px;
}
.p-icon01, .p-icon02 {width: 25px;}
.comu-menu-ul {
    border: 1px solid green;
    position: absolute;
    left: 0; 
    width: 300px; 
}
.comu-item > a {
    display: flex;
    justify-content: space-between;
}
.comu-icon {
    width: 24px;
}
.download-btn {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 6px 18px;
    display: flex; gap: 3px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px; font-weight: 600;
}
.arrow-icon {
    width: 20px;
    transform: translateY(1px);
}
.download-btn:hover {
    background: #000;
    color : white;
}
.download-btn:hover > svg {
    transform: translateY(1px) rotate(180deg);
}

