header {
    border: 1px solid red;
}
.top-bar {
    border: 1px solid orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    padding-left: 300px; padding-right: 300px;
}
.logo-menu01 {
    border: 1px solid orange;
    display: flex; gap: 60px;
}
.logo-box {
    border: 1px solid green;
}
.logo-box img {
    width: 200px;
}
.menu01 {
    border: 1px solid green;
}
.menu01-ul {
    display: flex;
    gap: 34px;
    align-items: center;
    height: 100%;
}
.download-btn {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px 10px;
}